.history-main-title {
    text-align: center;
    font-size: 36px;
}

.history-title {
    text-decoration: underline 1px;
    padding: 5px 0px;
}

.history-main {
    margin: 0px 0px 40px 30px;
}

.history-body {
    padding: 5px 0px;
}

.history-section-heading {

}

.history-section-content {

}