@import "../../App.scss";

.Header {
  height: 60px;
  background-color: $main-black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.header-list-container {
  display: flex;
}

.header-list {
  list-style-type: none;
}

.header-link {
    color: $main-white;
    text-decoration: none;
    margin: 0px 10px
}