@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$main-black: #222222;
$main-white: #f7f7f7;
$main-red: #d11313;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.top-line {
  background-color: $main-white;
  height: 1px;
}